@model WeekendTaskLanguage.Models.HomeViewModel
@{
    ViewBag.Title = "_LayoutTemplete";
  
}

<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <title>Chimper &mdash; Colorlib Website Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="~/Public/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/Public/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Public/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Public/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Public/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Public/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Public/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Public/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/Public/css/aos.css">
    <link rel="stylesheet" href="~/Public/css/style.css">
</head>
<body>
    <div class="site-wrap">
        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>
        <div class="border-bottom top-bar py-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="mb-0">
                            <span class="mr-3"><strong>Phone:</strong> <a href="tel://#">@ViewBag.Setting.Phone</a></span>
                            <span><strong>Email:</strong> <a href="#"><span class="__cf_email__" data-cfemail="83eaede5ecc3faecf6f1e7eceee2eaedade0ecee">@ViewBag.Setting.Email</span></a></span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <ul class="social-media">
                            <li><a href="#" class="p-2"><span class="icon-@ViewBag.Setting.FacebookIcon"></span></a></li>
                            <li><a href="#" class="p-2"><span class="icon-@ViewBag.Setting.TwitterIcon"></span></a></li>
                            <li><a href="#" class="p-2"><span class="icon-@ViewBag.Setting.InstagramIcon"></span></a></li>
                            <li><a href="#" class="p-2"><span class="icon-@ViewBag.Setting.LinkedinIcon"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <header class="site-navbar py-4 bg-white" role="banner">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-11 col-xl-2">
                        <h1 class="mb-0 site-logo"><a href="@Url.Action("Index","Home")" class="text-black h2 mb-0">Chimper</a></h1>
                    </div>
                    <div class="col-12 col-md-10 d-none d-xl-block">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                                <li class="active"><a href="@Url.Action("Index","Home")">Home</a></li>
                                <li><a href="@Url.Action("Index","Work")">Work</a></li>
                                <li class="has-children">
                                    <a href="@Url.Action("Index","Service")">Services</a>
                                    <ul class="dropdown">
                                        <li><a href="@Url.Action("Index","Service")">Web Applications</a></li>
                                        <li><a href="@Url.Action("Index","Service")">WordPress Dev</a></li>
                                        <li><a href="@Url.Action("Index","Service")">Mobile Applications</a></li>
                                        <li><a href="@Url.Action("Index","Service")">eCommerce</a></li>
                                    </ul>
                                </li>
                                <li><a href="@Url.Action("Index","About")">About</a></li>
                                <li><a href="@Url.Action("Index","Blog")">Blog</a></li>
                                <li><a href="@Url.Action("Index","Contact")">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>
                </div>
            </div>
    </div>
    </header>
    @RenderBody()
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3">
                        <h2 class="footer-heading mb-4">Quick Links</h2>
                        <ul class="list-unstyled">
                            <li><a href="#">@ViewBag.Setting.AboutUs</a></li>
                            <li><a href="#">@ViewBag.Setting.Services</a></li>
                            <li><a href="#">@ViewBag.Setting.Testimonials</a></li>
                            <li><a href="#">@ViewBag.Setting.ContactUS</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h2 class="footer-heading mb-4">Products</h2>
                        <ul class="list-unstyled">
                            <li><a href="#">@ViewBag.Setting.AboutUs</a></li>
                            <li><a href="#">@ViewBag.Setting.Services</a></li>
                            <li><a href="#">@ViewBag.Setting.Testimonials</a></li>
                            <li><a href="#">@ViewBag.Setting.ContactUS</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h2 class="footer-heading mb-4">Features</h2>
                        <ul class="list-unstyled">
                            <li><a href="#">@ViewBag.Setting.AboutUs</a></li>
                            <li><a href="#">@ViewBag.Setting.Services</a></li>
                            <li><a href="#">@ViewBag.Setting.Testimonials</a></li>
                            <li><a href="#">@ViewBag.Setting.ContactUS</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h2 class="footer-heading mb-4">Follow Us</h2>
                        <a href="#" class="pl-0 pr-3"><span class="icon-@ViewBag.Setting.FacebookIcon"></span></a>
                        <a href="#" class="pl-3 pr-3"><span class="icon-@ViewBag.Setting.TwitterIcon"></span></a>
                        <a href="#" class="pl-3 pr-3"><span class="icon-@ViewBag.Setting.InstagramIcon"></span></a>
                        <a href="#" class="pl-3 pr-3"><span class="icon-@ViewBag.Setting.LinkedinIcon"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
                <form action="#" method="post">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary text-white" type="button" id="button-addon2">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <div class="border-top pt-5">
                    <p>

                        Copyright &copy;
                        <script data-cfasync="false" src="~/Pu/email-decode.min.js"></script>
                        <script type="5ac4f37bafef97abb4757ea4-text/javascript">document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com/" target="_blank">Colorlib</a>

                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
    </div>
    <script src="~/Public/js/jquery-3.3.1.min.js" type="f2e52b0d599ef1456ef402b4-text/javascript"></script>
    <script src="~/Public/js/jquery-migrate-3.0.1.min.js" type="f2e52b0d599ef1456ef402b4-text/javascript"></script>
    <script src="~/Public/js/jquery-ui.js" type="f2e52b0d599ef1456ef402b4-text/javascript"></script>
    <script src="~/Public/js/popper.min.js" type="f2e52b0d599ef1456ef402b4-text/javascript"></script>
    <script src="~/Public/js/bootstrap.min.js" type="f2e52b0d599ef1456ef402b4-text/javascript"></script>
    <script src="~/Public/js/owl.carousel.min.js" type="f2e52b0d599ef1456ef402b4-text/javascript"></script>
    <script src="~/Public/js/jquery.stellar.min.js" type="f2e52b0d599ef1456ef402b4-text/javascript"></script>
    <script src="~/Public/js/jquery.countdown.min.js" type="f2e52b0d599ef1456ef402b4-text/javascript"></script>
    <script src="~/Public/js/jquery.magnific-popup.min.js" type="f2e52b0d599ef1456ef402b4-text/javascript"></script>
    <script src="~/Public/js/bootstrap-datepicker.min.js" type="f2e52b0d599ef1456ef402b4-text/javascript"></script>
    <script src="~/Public/js/aos.js" type="f2e52b0d599ef1456ef402b4-text/javascript"></script>
    <script src="~/Public/js/typed.js" type="f2e52b0d599ef1456ef402b4-text/javascript"></script>
    <script type="f2e52b0d599ef1456ef402b4-text/javascript">
        var typed = new Typed('.typed-words', {
        strings: ["Web Apps"," WordPress"," Mobile Apps"],
        typeSpeed: 80,
        backSpeed: 80,
        backDelay: 4000,
        startDelay: 1000,
        loop: true,
        showCursor: true
        });
    </script>
    <script src="~/Public/js/main.js" type="f2e52b0d599ef1456ef402b4-text/javascript"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="f2e52b0d599ef1456ef402b4-text/javascript"></script>
    <script type="f2e52b0d599ef1456ef402b4-text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script src="~/Public/js/rocket-loader.min.js" data-cf-settings="f2e52b0d599ef1456ef402b4-|49" defer=""></script>
</body>
</html>

