<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li><a href="@Url.Action("Index","Ability")">Ability</a></li>
                    <li class="has-children">
                        <a href="@Url.Action("Index","AboutSpec")">About Speciality</a>
                    </li>
                    <li><a href="@Url.Action("Index","Blog")">Blog</a></li>
                    <li><a href="@Url.Action("Index","Comment")">Comment</a></li>
                    <li><a href="@Url.Action("Index","HomeImage")">Home Image</a></li>
                    <li><a href="@Url.Action("Index","Portfolio")">Portfolio</a></li>
                    <li><a href="@Url.Action("Index","Position")">Position</a></li>
                    <li><a href="@Url.Action("Index","Post")">Post</a></li>
                    <li><a href="@Url.Action("Index","SecondBlog")">Second Blog</a></li>
                    <li><a href="@Url.Action("Index","Service")">Service</a></li>
                    <li><a href="@Url.Action("Index","Speciality")">Speciality</a></li>
                    <li><a href="@Url.Action("Index","Team")">Team</a></li>
                    <li><a href="@Url.Action("Index","Testimonial")">Testimonial</a></li>
                    <li><a href="@Url.Action("Index","Setting")">Setting</a></li>
                </ul>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>